body{
    background-color: rgb(176, 18, 224);
}
.box{
    background-color: rgba(143, 123, 153, 0.596);
    width: 400px;
    height: 250px;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 60px;
}
.c1{
    color: white;
}
.butt{
     background-color: aquamarine;
     border: 2px solid white;
     border-radius: 12px;
     width: 80px;
}
